.add-todo {
    margin-top: 20px;
}

.todo-input {
    width: 250px;
}

.add-todo-button {
    margin-left: 10px;
}

.visibility-filter {
    margin-top: 15px;
}

.filter-card {
    width: 600px;
}

.todo-list {
    margin-top: 1rem;
    text-align: left;
    list-style: none;
}

.todo-item {
    font-family: monospace;
    line-height: 1.7;
    margin-bottom: 8px;
}

.todo-item-text-completed {
    text-decoration: line-through;
    color: lightgray;
}
