.app {
    font-family: sans-serif;
}

.app-header {
    line-height: 64px;
}

.app-content {
    padding: 0 50px;
}

.app-footer {
    text-align: center;
}

.loading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loading-icon {
    font-size: 30px;
    margin-bottom: 5px;
}

ul {
    padding-inline-start: 15px;
}
